{# Extendemos la plantilla base #}
{% extends 'AppCorredoresRiojaBundle:Corredores:zonacorredores.html.twig' %}

{# Bloque título #}
{% block title %} Portada {% endblock %}

{# El bloque del contenido #}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                {% for mensaje in app.session.flashbag.get('info') %}
                    <div class="alert alert-success alert-dismissable fade in top5">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ mensaje }}
                    </div>
                    {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                <h3>{{ 'bienvenido' | trans }} Carreras por La Rioja</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                <p>Carreras por La Rioja {{ 'msg_bienvenida' | trans }}</p>
            </div>
        </div>
        <div>
            {% for carrera in carreras %}
                <div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                            <h5><strong><a href="{{ path('corredores_detalle_carrera_slug', {'slug':carrera.slug}) }}">{{carrera.slug}}</a></strong></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-offset-3 col-xs-2 col-sm-offset-3 col-sm-2 col-md-offset-3 col-md-2 col-lg-offset-3 col-lg-2">
                            <img class="img-responsive" src="{{ asset(carrera.imagen) }}" alt="Carrera">
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <p>{{carrera.descripcion}}</p>
                            <p>{{carrera.fechaCelebracion | localizeddate('short')}}</p>
                            <p><a class="btn btn-primary btn-xs" href="{{ path('inscribir', {'slug':carrera.slug}) }}" role="button">{{ 'incribe' | trans }}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock%}